@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 9, 9, 11;
  --background-end-rgb: 9, 9, 11;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shimmer {
  animation: shimmer 3s linear infinite;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #18181b; /* Zinc-900 */
}

::-webkit-scrollbar-thumb {
  background: #10b981; /* Emerald-500 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #059669; /* Emerald-600 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #10b981 #18181b;
}